.footer{
    width: 100%;
    display: flex;
    padding: 5%;
    align-items: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    justify-content: space-evenly;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.footer img {
    height: 50px;
}

.redes img{
    padding: 0px 15px;
    filter: invert(100%);

}

@media screen and (max-width: 720px) {
    .redes {
        width: 100px;
    }
    .footer img {
        width: 100px;
    }
    .redes img{
        width: 50px;
    }
    .footer strong {
        width: 100px;
        font-size: 15px;
    }
  
}